/lib/ApiMultipartFormDataFormatter/bin
/lib/ApiMultipartFormDataFormatter/obj
/.vs
/example/back-end/ApiBackEnd/obj
/example/back-end/ApiBackEnd/bin
/miscellaneous/multipart-formdata-my-get/obj
/miscellaneous/multipart-formdata-my-get/bin
/packages
/example/back-end/ApiBackEnd/ApiBackEnd.csproj.user
/miscellaneous/multipart-formdata-my-get/multipart-formdata-my-get.csproj.user
/miscellaneous/multipart-formdata-my-get/.vs
/miscellaneous/multipart-formdata-my-get/packages
/lib/ApiMultipartFormDataFormatter/*.user
/unit-tests/ApiMultiPartFormData.UnitTest/obj
/unit-tests/ApiMultiPartFormData.UnitTest/bin
/ApiBackEnd.UnitTest/obj
/ApiBackEnd.UnitTest/bin
/unit-tests/ApiBackEnd.UnitTest/obj
/unit-tests/ApiBackEnd.UnitTest/bin
/unit-tests/ApiBackEnd.UnitTest/*.user
